{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2022",
    "minify": {
      "mangle": true,
      "compress": { "defaults": true, "passes": 2 }
    }
  },
  "test": ".*\\.js$",
  "minify": true
}
